sandbox/code-gen/src/test/resources/protocol.dfdl.xsd

<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
  -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/"
           xmlns:s7="http://plc4x.apache.org/s7"
           xmlns:fn="http://www.w3.org/2005/xpath-functions"
           targetNamespace="http://plc4x.apache.org/s7">

    <xs:annotation>
        <xs:appinfo source="http://www.ogf.org/dfdl/">
            <dfdl:defineVariable name="messageType" type="xs:string"/>
            <dfdl:defineFormat name="s7FullFormat">
                <dfdl:format representation="binary"
                             binaryNumberRep="binary"
                             byteOrder="bigEndian"
                             lengthKind="implicit" lengthUnits="bytes" length="0"
                             occursCountKind="implicit"
                             textOutputMinLength="0"
                             alignment="1" alignmentUnits="bits"
                             leadingSkip="0" trailingSkip="0"
                             textPadKind="none" ignoreCase="no"
                             textBidi="no" floating="no"
                             encoding="utf-8" truncateSpecifiedLengthString="no"
                             initiator="" terminator=""
                             sequenceKind="ordered" separator=""
                             escapeSchemeRef="" initiatedContent="no"
                             encodingErrorPolicy="replace"/>
            </dfdl:defineFormat>
            <dfdl:format ref="s7:s7FullFormat"/>
        </xs:appinfo>
    </xs:annotation>

    <!--

        Simple type definition.

    -->

    <xs:simpleType name="bit" dfdl:lengthUnits="bits" dfdl:length="1" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <xs:simpleType name="byte" dfdl:lengthUnits="bytes" dfdl:length="1" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedByte"/>
    </xs:simpleType>

    <xs:simpleType name="short" dfdl:lengthUnits="bytes" dfdl:length="2" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:unsignedShort"/>
    </xs:simpleType>

    <xs:simpleType name="hexByte" dfdl:lengthUnits="bytes" dfdl:length="1" dfdl:lengthKind="explicit">
        <xs:restriction base="xs:hexBinary"/>
    </xs:simpleType>

    <!--

        TPKT - Iso-On-TCP

    -->

    <xs:element name="TpktMessage" type="s7:TpktMessageType"/>

    <xs:complexType name="TpktMessageType">
        <xs:sequence>
            <!-- TPKT Magic Byte always 0x03 -->
            <xs:element name="magicByte" type="s7:byte">
                <xs:annotation>
                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                        <dfdl:assert message="Magic number was not 0x03."
                                     test="{. eq 3}"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="reserved" type="s7:byte"/>
            <xs:element name="length" type="s7:short"/>
            <xs:element name="userData" type="s7:CotpMessageType"/>
        </xs:sequence>
    </xs:complexType>

    <!--

        ISO 8073/X.224 - ISO-TP - COTP - Connection-Oriented Transport Protocol Messages

    -->

    <xs:simpleType name="CotpTpduType">
        <xs:restriction base="xs:unsignedByte">
            <xs:enumeration id="tpduTypeConnectionRequest" value="224">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">ConnectionRequest</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration id="tpduTypeConnectionResponse" value="208">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">ConnectionResponse</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="128">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">DisconnectRequest</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="192">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">DisconnectResponse</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="112">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">Error</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="240">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">Data</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="CotpParameterType">
        <xs:restriction base="xs:unsignedByte">
            <xs:enumeration value="192">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">TpduSize</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="193">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">CallingTsap</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="194">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">CalledTsap</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="195">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">Checksum</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="224">
                <xs:annotation>
                    <xs:appinfo source="http://plc4x.apache.org/">DisconnectAdditionalInformation</xs:appinfo>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="CotpMessageType">
        <xs:sequence>
            <!-- Length of the COTP header data -->
            <xs:element name="headerLength" type="s7:byte"/>
            <xs:element name="type" type="s7:CotpTpduType"/>
            <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                <xs:element dfdl:choiceBranchKey="224" ref="s7:CotpTpduConnectionRequest"/>
                <xs:element dfdl:choiceBranchKey="208" ref="s7:CotpTpduConnectionResponse"/>
                <xs:element dfdl:choiceBranchKey="128" ref="s7:CotpTpduDisconnectRequest"/>
                <xs:element dfdl:choiceBranchKey="192" ref="s7:CotpTpduDisconnectResponse"/>
                <xs:element dfdl:choiceBranchKey="112" ref="s7:CotpTpduError"/>
                <xs:element dfdl:choiceBranchKey="240" ref="s7:CotpTpduData"/>
            </xs:choice>
            <xs:element name="userData" type="s7:S7MessageType" minOccurs="0"
                        dfdl:occursCountKind="expression"
                        dfdl:occursCount="{if((../../length - (../headerLength + 5)) gt 0) then 1 else 0}"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="CotpTpduConnectionRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destinationReference" type="s7:short"/>
                <xs:element name="sourceReference" type="s7:short"/>
                <xs:element name="protocolClass" type="s7:byte"/>
                <xs:element ref="s7:parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../../headerLength - 6}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../../headerLength gt 6) then 1 else 0}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpTpduConnectionResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destinationReference" type="s7:short"/>
                <xs:element name="sourceReference" type="s7:short"/>
                <xs:element name="protocolClass" type="s7:byte"/>
                <xs:element ref="s7:parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../../headerLength - 6}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../../headerLength gt 6) then 1 else 0}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpTpduDisconnectRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destinationReference" type="s7:short"/>
                <xs:element name="sourceReference" type="s7:short"/>
                <xs:element name="disconnectReason" type="s7:byte"/>
                <xs:element ref="s7:parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../../headerLength - 6}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../../headerLength gt 6) then 1 else 0}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpTpduDisconnectResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destinationReference" type="s7:short"/>
                <xs:element name="sourceReference" type="s7:short"/>
                <xs:element ref="s7:parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../../headerLength - 5}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../../headerLength gt 5) then 1 else 0}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpTpduError">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="destinationReference" type="s7:short"/>
                <xs:element name="rejectCause" type="s7:byte"/>
                <xs:element ref="s7:parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../../headerLength - 4}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../../headerLength gt 4) then 1 else 0}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpTpduData">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="endOfTransmission" type="xs:unsignedInt"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bits" dfdl:length="1"/>
                <xs:element name="tpduRef" type="xs:unsignedInt"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bits" dfdl:length="7"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="parameters">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parameter" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="type" type="s7:CotpParameterType"/>
                            <xs:element name="parameterLength" type="s7:byte"/>
                            <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                                <xs:element dfdl:choiceBranchKey="192" ref="s7:CotpParameterTpduSize"/>
                                <xs:element dfdl:choiceBranchKey="193" ref="s7:CotpParameterCallingTsap"/>
                                <xs:element dfdl:choiceBranchKey="194" ref="s7:CotpParameterCalledTsap"/>
                                <xs:element dfdl:choiceBranchKey="195" ref="s7:CotpParameterChecksum"/>
                                <xs:element dfdl:choiceBranchKey="224"
                                            ref="s7:CotpParameterDisconnectAdditionalInformation"/>
                            </xs:choice>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpParameterTpduSize">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tpduSize" type="s7:byte"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpParameterCallingTsap">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tsapId" type="s7:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpParameterCalledTsap">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tsapId" type="s7:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpParameterChecksum">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="checksum" type="s7:byte"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="CotpParameterDisconnectAdditionalInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="data" type="xs:hexBinary"
                            dfdl:byteOrder="bigEndian" dfdl:lengthUnits="bytes" dfdl:lengthKind="explicit"
                            dfdl:length="{../../parameterLength}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--

        S7 Types

    -->

    <xs:complexType name="S7MessageType">
        <xs:sequence>
            <!-- S7 Magic Byte always 0x32 -->
            <xs:element name="magicByte" type="s7:byte">
                <xs:annotation>
                    <xs:appinfo source="http://www.ogf.org/dfdl/">
                        <dfdl:assert message="Magic number was not 0x32."
                                     test="{. eq 50}"/>
                    </xs:appinfo>
                </xs:annotation>
            </xs:element>
            <xs:element name="type" type="s7:byte"/>
            <!--
                Unfortunately the response for a CPU Functions request follows the rules of a
                response, however has the header structure of a request
                (no error code or error class). As mapping to the same type is not allowed,
                we map to strings and use that as choice-key.
            -->
            <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                <xs:element dfdl:choiceBranchKey="1" ref="s7:S7RequestMessage"/>
                <xs:element dfdl:choiceBranchKey="3" ref="s7:S7ResponseMessage"/>
                <xs:element dfdl:choiceBranchKey="7" ref="s7:S7UserDataMessage"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="S7RequestMessage">
        <xs:complexType>
            <xs:sequence>
                <!-- Reserved value always 0x0000 -->
                <xs:element name="reserved" type="s7:short" fixed="0"/>
                <xs:element name="tpduReference" type="s7:short"/>
                <xs:element name="parametersLength" type="s7:short"/>
                <xs:element name="payloadsLength" type="s7:short"/>
                <xs:element name="parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../parametersLength}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../parametersLength gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="parameter" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="s7:byte"/>
                                        <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                                            <xs:element dfdl:choiceBranchKey="240"
                                                        ref="s7:S7GeneralParameterSetupCommunication"/>
                                            <xs:element dfdl:choiceBranchKey="4" ref="s7:S7RequestParameterReadVar"/>
                                            <xs:element dfdl:choiceBranchKey="5" ref="s7:S7RequestParameterWriteVar"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!--
                   As we might be outputting an empty payload block for a parameter that might not have a payload,
                   we have to output this element if the parameters are not empty. The case that the payloads are
                   not empty but the parameters are can't happen during normal operation.
               -->
                <xs:element name="payloads" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../payloadsLength}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../parametersLength gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <!--
                                For every parameter we'll be outputting a payload block, even if this might be empty.
                                This is required in order to find the matching parameter for every payload we might
                                be having. We need to match these as otherwise we couldn't determine the type of a
                                payload as this has no type information and we need to be able to access the number
                                of items for a read/write request in order to process the correct number of items in
                                the payload.
                            -->
                            <xs:element name="payload" maxOccurs="unbounded"
                                        dfdl:occursCountKind="expression"
                                        dfdl:occursCount="{fn:count(../../parameters[1]/parameter)}">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice
                                            dfdl:choiceDispatchKey="{xs:string(../../parameters[1]/parameter[dfdl:occursIndex()]/type)}">
                                            <xs:element dfdl:choiceBranchKey="240"
                                                        ref="s7:S7GeneralPayloadSetupCommunication"/>
                                            <xs:element dfdl:choiceBranchKey="4" ref="s7:S7RequestPayloadReadVar"/>
                                            <xs:element dfdl:choiceBranchKey="5" ref="s7:S7RequestPayloadWriteVar"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7ResponseMessage">
        <xs:complexType>
            <xs:sequence>
                <!-- Reserved value always 0x0000 -->
                <xs:element name="reserved" type="s7:short" fixed="0"/>
                <xs:element name="tpduReference" type="s7:short"/>
                <xs:element name="parametersLength" type="s7:short"/>
                <xs:element name="payloadsLength" type="s7:short"/>
                <!-- UserData (type 7) responses don't have the error class and code -->
                <xs:element name="errorClass" type="s7:byte" minOccurs="0"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{if(../../type eq 3) then 1 else 0}"/>
                <xs:element name="errorCode" type="s7:byte" minOccurs="0"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{if(../../type eq 3) then 1 else 0}"/>
                <xs:element name="parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../parametersLength}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../parametersLength gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="parameter" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="s7:byte"/>
                                        <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                                            <xs:element dfdl:choiceBranchKey="240"
                                                        ref="s7:S7GeneralParameterSetupCommunication"/>
                                            <xs:element dfdl:choiceBranchKey="4" ref="s7:S7ResponseParameterReadVar"/>
                                            <xs:element dfdl:choiceBranchKey="5" ref="s7:S7ResponseParameterWriteVar"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!--
                    As we might be outputting an empty payload block for a parameter that might not have a payload,
                    we have to output this element if the parameters are not empty. The case that the payloads are
                    not empty but the parameters are can't happen during normal operation.
                -->
                <xs:element name="payloads" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../payloadsLength}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../parametersLength gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <!--
                                For every parameter we'll be outputting a payload block, even if this might be empty.
                                This is required in order to find the matching parameter for every payload we might
                                be having. We need to match these as otherwise we couldn't determin the type of a
                                payload as this has no type information and we need to be able to access the number
                                of items for a read/write request in order to process the correct number of items in
                                the payload.
                            -->
                            <xs:element name="payload" maxOccurs="unbounded"
                                        dfdl:occursCountKind="expression"
                                        dfdl:occursCount="{fn:count(../../parameters[1]/parameter)}">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice
                                            dfdl:choiceDispatchKey="{xs:string(../../parameters[1]/parameter[dfdl:occursIndex()]/type)}">
                                            <xs:element dfdl:choiceBranchKey="240"
                                                        ref="s7:S7GeneralPayloadSetupCommunication"/>
                                            <xs:element dfdl:choiceBranchKey="4" ref="s7:S7ResponsePayloadReadVar"/>
                                            <xs:element dfdl:choiceBranchKey="5" ref="s7:S7ResponsePayloadWriteVar"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>


    <xs:element name="S7UserDataMessage">
        <xs:complexType>
            <xs:sequence>
                <!-- Reserved value always 0x0000 -->
                <xs:element name="reserved" type="s7:short" fixed="0"/>
                <xs:element name="tpduReference" type="s7:short"/>
                <xs:element name="parametersLength" type="s7:short"/>
                <xs:element name="payloadsLength" type="s7:short"/>
                <xs:element name="parameters" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../parametersLength}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../parametersLength gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="parameter" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="s7:byte"/>
                                        <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                                            <xs:element dfdl:choiceBranchKey="0"
                                                        ref="s7:S7UserDataParameterCPUService"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <!--
                   As we might be outputting an empty payload block for a parameter that might not have a payload,
                   we have to output this element if the parameters are not empty. The case that the payloads are
                   not empty but the parameters are can't happen during normal operation.
               -->
                <xs:element name="payloads" minOccurs="0"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="{../payloadsLength}"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../parametersLength gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <!--
                                For every parameter we'll be outputting a payload block, even if this might be empty.
                                This is required in order to find the matching parameter for every payload we might
                                be having. We need to match these as otherwise we couldn't determine the type of a
                                payload as this has no type information and we need to be able to access the number
                                of items for a read/write request in order to process the correct number of items in
                                the payload.
                            -->
                            <xs:element name="payload" maxOccurs="unbounded"
                                        dfdl:occursCountKind="expression"
                                        dfdl:occursCount="{fn:count(../../parameters[1]/parameter)}">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice
                                            dfdl:choiceDispatchKey="{xs:string(../../parameters[1]/parameter[dfdl:occursIndex()]/type)}">
                                            <xs:element dfdl:choiceBranchKey="0"
                                                        ref="s7:S7UserDataPayloadCpuServices"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--

        Parameters.

    -->

    <xs:element name="S7GeneralParameterSetupCommunication">
        <xs:complexType>
            <xs:sequence>
                <!-- Reserved value always 0x00 -->
                <xs:element name="reserved" type="s7:byte" fixed="0"/>
                <xs:element name="maxAmqCaller" type="s7:short"/>
                <xs:element name="maxAmqCallee" type="s7:short"/>
                <xs:element name="pduLength" type="s7:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7UserDataParameterCPUService">
        <xs:complexType>
            <xs:sequence>
                <!-- Fixed header 0x0112 274 -> -->
                <xs:element name="header" type="s7:short"/><!-- fixed="274"-->
                <xs:element name="paramLength" type="s7:byte"/><!-- fixed="4"-->
                <!-- Request: 0x11 -> 17 -->
                <xs:element name="typeCode" type="s7:byte"/><!-- fixed="17"-->
                <xs:element name="type" type="xs:unsignedByte" dfdl:lengthKind="explicit" dfdl:lengthUnits="bits"
                            dfdl:length="4"/>
                <!-- First 4 bits: Request 0x40, last 4 bits: Function Group 0x04 = 0x44 -> 68 -->
                <xs:element name="functionGroup" type="xs:unsignedByte" dfdl:lengthKind="explicit"
                            dfdl:lengthUnits="bits" dfdl:length="4"/><!-- fixed="68"-->
                <!-- READ SSL = 0x01 -->
                <xs:element name="subFunctionGroup" type="s7:byte"/><!-- fixed="1"-->
                <xs:element name="sequenceNumber" type="s7:byte"/>
                <xs:element name="dataUnitReferenceNumber" type="s7:byte" minOccurs="0"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../sequenceNumber eq 2) then 1 else 0}"/>
                <xs:element name="lastDataUnit" type="s7:byte" minOccurs="0"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../sequenceNumber eq 2) then 1 else 0}"/>
                <xs:element name="errorCode" type="s7:short" minOccurs="0"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../sequenceNumber eq 2) then 1 else 0}"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7RequestParameterReadVar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numItems" type="s7:byte"/>
                <xs:element name="items" minOccurs="0"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{if(../numItems gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" minOccurs="0" maxOccurs="unbounded"
                                        dfdl:occursCountKind="expression" dfdl:occursCount="{../../numItems}">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="s7:byte"/>
                                        <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                                            <xs:element dfdl:choiceBranchKey="18"
                                                        ref="s7:S7RequestParameterReadVarAnyItem"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7RequestParameterReadVarAnyItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="paramLength" type="s7:byte"/><!-- fixed="10"-->
                <!-- Addressing Mode: Any 0x10 -> 16 -->
                <xs:element name="addressingMode" type="s7:byte"/><!-- fixed="16"-->
                <xs:element name="dataType" type="s7:byte"/>
                <xs:element name="numElements" type="s7:short"/>
                <xs:element name="dataBlockNumber" type="s7:short"/>
                <xs:element name="memoryArea" type="s7:byte"/>
                <!--
                 The next 3 bytes (24 bits) contain the byte- and bit-offset,
                 were the last byte contains the bit-offset in the last 3 bits
                 and the byteOffset is encoded in the higher level 21 bits
                -->
                <xs:element name="byteOffset" type="xs:unsignedInt"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bits" dfdl:length="21"/>
                <xs:element name="bitOffset" type="xs:unsignedInt"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bits" dfdl:length="3"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7ResponseParameterReadVar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numItems" type="s7:byte"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7RequestParameterWriteVar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numItems" type="s7:byte"/>
                <xs:element name="items" minOccurs="0"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{if(../numItems gt 0) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="item" minOccurs="0" maxOccurs="unbounded"
                                        dfdl:occursCountKind="expression" dfdl:occursCount="{../../numItems}">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="type" type="s7:byte"/>
                                        <xs:choice dfdl:choiceDispatchKey="{xs:string(type)}">
                                            <xs:element dfdl:choiceBranchKey="18"
                                                        ref="s7:S7RequestParameterWriteVarAnyItem"/>
                                        </xs:choice>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7RequestParameterWriteVarAnyItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="itemLength" type="s7:byte"/><!-- fixed="10"-->
                <!-- Addressing Mode: Any 0x10 -> 16 -->
                <xs:element name="addressingMode" type="s7:byte"/><!-- fixed="16"-->
                <xs:element name="dataType" type="s7:byte"/>
                <xs:element name="numElements" type="s7:short"/>
                <xs:element name="dataBlockNumber" type="s7:short"/>
                <xs:element name="memoryArea" type="s7:byte"/>
                <!--
                 The next 3 bytes (24 bits) contain the byte- and bit-offset,
                 were the last byte contains the bit-offset in the last 3 bits
                 and the byteOffset is encoded in the higher level 21 bits
                -->
                <xs:element name="byteOffset" type="xs:unsignedInt"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bits" dfdl:length="21"/>
                <xs:element name="bitOffset" type="xs:unsignedInt"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bits" dfdl:length="3"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7ResponseParameterWriteVar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="numItems" type="s7:byte"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--

        Payloads.

    -->

    <xs:element name="S7GeneralPayloadSetupCommunication"
                type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="0"/>

    <xs:element name="S7UserDataPayloadCpuServices">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="returnCode" type="s7:byte"/>
                <xs:element name="transportSize" type="s7:byte"/><!-- fixed="9"-->
                <xs:element name="length" type="s7:short"/>
                <xs:element name="sslId" type="s7:short" minOccurs="0"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../returnCode eq 255) then 1 else 0}"/>
                <xs:element name="sslIndex" type="s7:short" minOccurs="0"
                            dfdl:occursCountKind="expression"
                            dfdl:occursCount="{if(../returnCode eq 255) then 1 else 0}"/>
                <xs:element name="partialList" minOccurs="0"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{if((../returnCode eq 255) and (../length gt 4)) then 1 else 0}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="partialListLengthInBytes" type="s7:short"/>
                            <xs:element name="partialListCount" type="s7:short"/>
                            <xs:element name="sslDataRecords">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="sslDataRecord" maxOccurs="unbounded"
                                                    dfdl:occursCountKind="expression" dfdl:occursCount="{../../partialListCount}">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:choice dfdl:choiceDispatchKey="{xs:string(../../../sslId[1])}">
                                                        <xs:element dfdl:choiceBranchKey="17"
                                                                    ref="s7:S7ResponsePayloadCpuServicesSslDataRecordModuleIdentification"/>
                                                    </xs:choice>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7ResponsePayloadCpuServicesSslDataRecordModuleIdentification">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="index" type="s7:short"/>
                <xs:element name="articleNumber" type="xs:string" dfdl:textTrimKind="none" dfdl:alignmentUnits="bytes"
                            dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:length="20"/>
                <xs:element name="bgType" type="s7:short"/>
                <xs:element name="moduleOrOsVersion" type="s7:short"/>
                <xs:element name="pgDescriptionFileVersion" type="s7:short"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7RequestPayloadReadVar"
                type="xs:hexBinary" dfdl:lengthKind="explicit" dfdl:length="0"/>

    <xs:element name="S7ResponsePayloadReadVar">
        <xs:complexType>
            <xs:sequence>
                <!-- The number of items which should be read is transmitted in the matching parameter -->
                <xs:element name="numItems" type="s7:byte"
                            dfdl:inputValueCalc="{
                                ../../../../parameters[1]/parameter[dfdl:occursIndex()]/s7:S7ResponseParameterReadVar/numItems
                            }"/>
                <xs:element name="item" minOccurs="0" maxOccurs="unbounded"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{../numItems}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="returnCode" type="s7:byte"/>
                            <xs:element name="transportSize" type="s7:byte"/>
                            <xs:element name="rawLength" type="s7:short"/>
                            <!--
                                For some reason the types BIT, BYTE_WORD_DWORD and INTEGER are transferred in "bits",
                                the rest is transferred in "bytes"
                            -->
                            <xs:element name="lengthInBytes" type="s7:short" dfdl:inputValueCalc="{
                                    xs:unsignedShort(if((../transportSize eq 3) or (../transportSize eq 4) or (../transportSize eq 5))
                                            then fn:ceiling(xs:double(../rawLength div 8))
                                            else ../rawLength)}"/>
                            <xs:element name="data" type="xs:hexBinary"
                                        dfdl:byteOrder="bigEndian" dfdl:lengthUnits="bytes" dfdl:lengthKind="explicit"
                                        dfdl:length="{../lengthInBytes}"/>
                            <!--
                                Transport sizes: BIT, BYTE_WORD_DWORD and OCTET_STRING require a blank byte.
                                However only if this is not the last item in the result.
                            -->
                            <xs:element name="fillByte" type="s7:byte" minOccurs="0"
                                        dfdl:occursCountKind="expression" dfdl:occursCount="{
                                            if(((../lengthInBytes mod 2) eq 1) and
                                                (dfdl:occursIndex() ne ../../numItems)) then 1 else 0}"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7RequestPayloadWriteVar">
        <xs:complexType>
            <xs:sequence>
                <!-- The number of items which should be read is transmitted in the matching parameter -->
                <xs:element name="numItems" type="s7:byte"
                            dfdl:inputValueCalc="{
                                ../../../../parameters[1]/parameter[dfdl:occursIndex()]/s7:S7RequestParameterWriteVar/numItems
                            }"/>
                <xs:element name="item" minOccurs="0" maxOccurs="unbounded"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{../numItems}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="returnCode" type="s7:byte"/>
                            <xs:element name="transportSize" type="s7:byte"/>
                            <xs:element name="rawLength" type="s7:short"/>
                            <!--
                                For some reason the types BIT, BYTE_WORD_DWORD and INTEGER are transferred in "bits",
                                the rest is transferred in "bytes"
                            -->
                            <xs:element name="lengthInBytes" type="s7:short" dfdl:inputValueCalc="{
                                    xs:unsignedShort(if((../transportSize eq 3) or (../transportSize eq 4) or (../transportSize eq 5))
                                            then fn:ceiling(../rawLength div 8)
                                            else ../rawLength)}"/>
                            <xs:element name="data" type="xs:hexBinary"
                                        dfdl:byteOrder="bigEndian" dfdl:lengthUnits="bytes" dfdl:lengthKind="explicit"
                                        dfdl:length="{../lengthInBytes}"/>
                            <!--
                                It seems that the item payload must always be an even number of bytes. So if it's
                                not an even number, add a fill byte.
                            -->
                            <xs:element name="fillByte" type="s7:byte" minOccurs="0"
                                        dfdl:occursCountKind="expression" dfdl:occursCount="{
                                            if(((../lengthInBytes mod 2) eq 1) and
                                                (dfdl:occursIndex() ne ../../numItems)) then 1 else 0}"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="S7ResponsePayloadWriteVar">
        <xs:complexType>
            <xs:sequence>
                <!-- The number of items which should be read is transmitted in the matching parameter -->
                <xs:element name="numItems" type="s7:byte"
                            dfdl:inputValueCalc="{
                                ../../../../parameters[1]/parameter[dfdl:occursIndex()]/s7:S7ResponseParameterWriteVar/numItems
                            }"/>
                <xs:element name="item" minOccurs="0" maxOccurs="unbounded"
                            dfdl:occursCountKind="expression" dfdl:occursCount="{../numItems}">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="returnCode" type="s7:byte"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>